<div style="float:right">
	<a href="javascript:void(0)" class="round-button" onclick="doDivAjaxCall$formname('formData','back','')">back</a>
</div>
#if ( $supplier )
<div style="float:right">
	<a href="javascript:void(0)" class="round-button" onclick="doDivAjaxCall$formname('formData','newCustomer','')">new</a>
</div>	
#end

<div class="subTitle">
#if ( $supplier )
	Customer Detail
#else
	Add New Customer
#end
</div>

<table width="100%">
	<tr><td style="width:150px">Company Name</td><td style="width:10px">:</td><td><input type="text" name="name" value="$!supplier.name"></td></tr>
	<tr><td>Code</td><td>:</td><td><input type="text" name="code" value="$!supplier.code"></td></tr>
	<tr><td>Control Account</td><td>:</td>
		<td>
		<div class="styledSelect">
            <select name="accountId">
            	<option value=""></option>
            	#foreach( $a in $accounts )
					#if ( !$a.gotChild )
            		<option value="$a.id" #if ( $supplier.account.id == $a.id ) selected #end>$a.number - $a.title</option>
					#end
            	#end
            </select>
		</div>
		</td>
	</tr>
	<tr><td>Address</td><td>:</td><td><input type="text" name="address1" value="$!supplier.address1"></td></tr>
	<tr><td></td><td>:</td><td><input type="text" name="address2" value="$!supplier.address2"></td></tr>
	<tr><td>Postcode</td><td>:</td><td><input type="text" name="postcode" value="$!supplier.postcode"></td></tr>
	<tr><td>State</td><td>:</td><td><input type="text" name="state" value="$!supplier.state"></td></tr>
	<tr><td>Telephone</td><td>:</td><td><input type="text" name="telephone" value="$!supplier.telephone"></td></tr>
	<tr><td>Fax</td><td>:</td><td><input type="text" name="fax" value="$!supplier.fax"></td></tr>
	<tr><td>Contact Name</td><td>:</td><td><input type="text" name="contactName" value="$!supplier.contactName"></td></tr>
		
</table>

<div style="float:right">
	<a href="javascript:void(0)" class="round-button" onclick="doDivAjaxCall$formname('formData','back','')">back</a>
</div>
<div style="float:right">
	<a href="javascript:void(0)" class="round-button" onclick="doDivAjaxCall$formname('formData','save','supplierId=$!supplier.id')">save</a>
</div>
	
<br/><br/><br/><br/><br/>