#set ( $month_name = ["Jan", "Feb", "Mac", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"] )  

<input type="hidden" name="selectAccountId" value="$!account.id">
<input type="hidden" name="selectYear" value="$!year">
<input type="hidden" name="selectMonth" value="$!month">
	
<table style="width:100%">
	<tr style="height:30px">
		<td style="width:100px">GL</td><td style="width:10px">:</td><td>$!account.number - $!account.title</td>
	</tr>
	<tr style="height:30px">
		<td>Month</td><td>:</td><td>
			#if ( $month == 99 )
				$year
			#else
				$month_name.get($month), $year
			#end
		</td>
	</tr>
</table>

<br/>

<table class="table" style="width:100%" cellpadding="2">
	<tr style="background:#494945;height:35px">
		<td style="width:120px;color:#FFFFFF" align="">Date</td>
		<td style="width:120px;color:#FFFFFF" align="">Journal</td>
		<td style="width:200px;color:#FFFFFF" align="">Account</td>
		<td style="color:#FFFFFF" align="">Transaction</td>
		<td style="width:150px;color:#FFFFFF" align="center">Debit</td>
		<td style="width:150px;color:#FFFFFF" align="center">Credit</td>
		<td style="width:150px;color:#FFFFFF" align="center">Balance</td>
	</tr>
	#set ( $cnt = 0 )
	#foreach( $t in $items )
		#set ( $cnt = $cnt + 1 )
		#if ( $cnt % 2 == 1 ) #set ( $bgcolor = "#F9F2B8" ) #else #set ( $bgcolor = "#F4F3ED" ) #end
		<tr style="background:$bgcolor;">
			<td align="">$df.format($t.date)</td>
			
			#if ( $t.transaction )
				<td align="" style="cursor:pointer" onclick="doDivAjaxCall3$formname('formTransaction','getTransaction','itemId=$t.transaction.entryItem.id&transactionId=$!t.transaction.id')">
				$t.transaction.entryItem.journalEntry.code
				</td>
				<td>
					$t.transaction.account.number - $t.transaction.account.title
				</td>
			#else
				<td>BFF</td>
				<td></td>
			#end
			
			<td>$util.putLineBreak($t.description)</td>
			
			#if ( $t.side == 0 )
				<td align="right">#if ( $t.amount == 0 ) 0 #else $nf.format($t.amount) #end &nbsp;</td>
				<td>&nbsp;</td>
			#elseif ( $t.side == 1 )
				<td>&nbsp;</td>
				<td align="right">#if ( $t.amount == 0 ) 0 #else $nf.format($t.amount) #end &nbsp;</td>
			#end
			<td align="right">#if ( $t.balance == 0 ) 0 #else $nf.format($t.balance) #end &nbsp;</td>
		</tr>
	#end
	
	<tr style="border-top:2px solid #000;border-bottom:2px solid #000;height:40px">
		<td colspan="4" align="right"></td>
		<td align="right">#if ( $totalDebit != 0 ) $nf.format($totalDebit) #end &nbsp;</td>
		<td align="right">#if ( $totalCredit != 0 ) $nf.format($totalCredit) #end &nbsp;</td>
		<td align="right">$nf.format($total) &nbsp;</td>
	</tr>
	
</table>

<div id="formTransaction" class="formData"></div>

	
<script>
$('buttonBack').style.display="block";
</script>