<script>
$('formTransaction').style.display="block";
</script>

<div style="float:right;padding:2px">
	<a href="javascript:void(0)" class="btn btn-primary" onclick="$('formTransaction').style.display='none';">OK</a>
</div>

<div class="subTitle">
	Transaction Detail: $item.journalEntry.code
</div>
	
<table style="width:100%">
	<tr style="background:#494945;height:35px">
		<td style="width:100px;color:#FFFFFF" align="center">Date</td>
		<td style="color:#FFFFFF" align="center">Particulars</td>
		<td style="width:200px;color:#FFFFFF" align="center">Account</td>
		<td style="width:100px;color:#FFFFFF" align="center">Debit</td>
		<td style="width:100px;color:#FFFFFF" align="center">Credit</td>
	</tr>
	##set ( $bgcolor = "#F9F2B8" )
	#set ( $bgcolor = "#F4F3ED" )
	#set ( $tcnt = 0 )
	#foreach( $t in $item.transactions )
		#set ( $tcnt = $tcnt + 1 )
		<tr style="background:$bgcolor;height:35px">
			#if ( $tcnt == 1 )
				<td rowspan="$item.transactions.size()" style="padding-top:5px">$df.format($item.date)</td>
			#end
			#if ( $tcnt == 1 )
				<td rowspan="$item.transactions.size()" style="padding-top:5px">$item.description</td>
			#end
			<td #if ( $t.id == $transaction.id ) style="background:#F9F2B8" #else style="background:#F4F3ED" #end>$t.account.title</td>
			#if ( $t.side == 0 )
				<td align="right" #if ( $t.id == $transaction.id ) style="background:#F9F2B8" #else style="background:#F4F3ED" #end>$nf.format($t.amount) &nbsp;</td>
				<td #if ( $t.id == $transaction.id ) style="background:#F9F2B8" #else style="background:#F4F3ED" #end></td>
			#elseif ( $t.side == 1 )
				<td #if ( $t.id == $transaction.id ) style="background:#F9F2B8" #else style="background:#F4F3ED" #end></td>
				<td align="right" #if ( $t.id == $transaction.id ) style="background:#F9F2B8" #else style="background:#F4F3ED" #end>$nf.format($t.amount) &nbsp;</td>
			#end
		</tr>
	#end
	
</table>


