<table width="100%" cellpadding="0" cellspacing="1">
	<tr style="background:#494945;height:35px">
		<td style="width:40px"></td>
		<td style="width:200px;color:#FFFFFF">Code</td>
		<td style=";color:#FFFFFF">Name</td>
		<td style="width:200px;color:#FFFFFF">Normal Price</td>
		<td style="width:200px;color:#FFFFFF">Member Price</td>
		
	</tr>
	#set ( $cnt = 0 )
	#foreach ( $c in $posMenuItems )
		

		#set ( $cnt = $cnt + 1 )
		<tr style="height:30px;">
			<td>$cnt.</td>
			<td><input class="textrow" style="width:200px" readonly value="$!c.code"></td>
			<td><input class="textrow" style="" readonly value="$!c.name"></td>
			<td><input class="textrow" style="width:200px" readonly value="$!c.normalPrice"></td>
			<td><input class="textrow" style="width:200px" readonly value="$!c.memberPrice"></td>
			
			<td style="cursor:pointer" onclick="doDivAjaxCall$formname('formData','edit','posMenuItemId=$!c.id')" align="center">
				<img src="../img/edit.gif">
			</td>
			<td style="cursor:pointer" onclick="if ( !confirm('Delete?') ) return; doDivAjaxCall$formname('formData','delete','posMenuItemId=$!c.id')" align="center">
				<img src="../img/trash.gif">
			</td>
		</tr>
	#end
</table>