<div style="float:right">
	<a href="javascript:void(0)" class="round-button" onclick="doDivAjaxCall$formname('formData','back','')">back</a>
</div>
#if ( $posMenuItem )
<div style="float:right">
	<a href="javascript:void(0)" class="round-button" onclick="doDivAjaxCall$formname('formData','newPosMenuItem','')">new</a>
</div>	
#end

<div class="subTitle">
#if ( $posMenuItem )
	Menu
#else
	Add New Menu
#end
</div>

<table width="100%">
	<tr><td>Code</td><td>:</td><td><input type="text" name="code" value="$!posMenuItem.code"></td></tr>
	<tr><td style="width:150px">Name</td><td style="width:10px">:</td><td><input type="text" name="name" value="$!posMenuItem.name"></td></tr>
	
	<tr><td>Normal Price</td><td>:</td><td><input type="text" style="width:200px" name="normalPrice" value="$!posMenuItem.normalPrice"></td></tr>
	<tr><td>Member Price</td><td>:</td><td><input type="text" style="width:200px" name="memberPrice" value="$!posMenuItem.memberPrice"></td></tr>
		
</table>

<div style="float:right">
	##<a href="javascript:void(0)" class="round-button" onclick="doDivAjaxCall$formname('formData','back','')">back</a>
</div>
<div style="float:right">
	<a href="javascript:void(0)" class="round-button" onclick="doDivAjaxCall$formname('formData','save','posMenuItemId=$!posMenuItem.id')">save</a>
</div>
	
<br/><br/><br/><br/><br/>