<link rel="stylesheet" href="../app_busim/style.css" type="text/css" media="screen" />

<style>
#formTransaction {
	z-index: 99;
	position:fixed;
    top: 30%;
	left:40%;
    width:900px;
	
    margin: 0 0 0 -25%;
    background:#fff;
    font-family:arial, Helvetica, sans-serif;
    font-size:12pt;
    padding:10px;
	-moz-border-radius: 8px;
	border-radius: 8px;  
	border:2px solid #7C7B7B;
	
	display:none;
}
</style>

<div id="divMain" style="background:url(../img2/klcc-background.png);height:100%;opacity:0.5; filter:alpha(opacity=50);"></div>

<div id="divData">
	
    <div id="buttonBack" style="float:right;margin-right:5px;margin-top:5px">
    	<a href="javascript:void(0)" class="btn btn-primary btn-sm" style="background:#64DEFC;border:1px solid #64DEFC"  onclick="$('params').style.display='block';$('result').style.display='none';"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    </div>
    
	<div id="divTitle">
		General Ledger
	</div>
	<div class="formData" id="formData">
	#parse("app_busim/generalLedger2/accounts.vm")
	</div>
</div>
	

