<div style="float:right;margin-right:5px;margin-top:7px">
	<a href="javascript:void(0)" class="btn btn-success" onclick="doDivAjaxCall$formname('formData','newReceiptVoucher','supplierId=')">Make Open Receipt</a>
</div>
<div style="float:right;margin-right:5px;margin-top:7px">
	<a href="javascript:void(0)" class="btn btn-warning" onclick="doDivAjaxCall$formname('list','listCustomers','')">New Receipt</a>
</div>
#** 
<div style="float:right;margin-right:5px;margin-top:7px">
	<a href="javascript:void(0)" class="menu-button" onclick="doDivAjaxCall$formname('list','listReceiptVouchers','')">List Receipts</a>
</div>
**#
<br/><br/><br/>
<div id="list">
#parse("app_busim/receiptVoucher/listReceiptVouchers.vm")
</div>