<table width="100%">
<tr>
<td style="padding-top:10px;font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:14px; color:#fff;	">
&nbsp;&nbsp;$AppTitle
</td>
<td align="right" style="padding-top:10px;font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#fff;	">
Powered by LeBAH Framework&nbsp;
</td></tr>
</table>