<style>

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}
 
::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

.errorMessage {
  position: relative;
  margin: 0 auto;
  padding: 1px 1px 1px;
  width: 400px;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:12pt;
  text-align:center;  
  background:#FF6633;
  color:#FFF;
}

.login-container {
  margin: 50px auto;
  width: 800px;
}
.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 400px;
}
.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.login p {
  margin: 10px 0 0;
}
 
.login p:first-child {
  margin-top: 0;
}
 
.login input[type=text], .login input[type=password] {
  width: 400px;
  height:35px;
  border-radius: 5px;
  border:1px solid #ccc;
}

.login input[type=text]:focus, .login input[type=password]:focus {
  -moz-box-shadow: 1px 1px 10px #888; 
  -webkit-box-shadow: 1px 1px 10px #888; 
  box-shadow: 1px 1px 10px #888;
}
 
.login p.remember_me {
  float: left;
  line-height: 31px;
}
 
.login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
 
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}

.login p.submit {
  text-align: right;
}

#login-button {
	padding:5px;
	background:#9FE8F2;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:12pt;
    font-weight:bold;
    color:#000;
	-moz-border-radius: 6px;
	border-radius: 6px;    
	width:100px;
	height:40px;
}

</style>


<script>
$('div_ontop').style.display="block";
$('div_input').style.display="block";
</script>


<table id="dragHandle" width="100%" style="height:30px;cursor:pointer;border-bottom:2px solid #ADADAD">
<tr>
<td style="font-family:Arial, Helvetica, sans-serif; font-size:12pt; font-weight:bold">
Sign Up Form
</td>
<td align="right">
<a href="javascript:void(0)" onclick="$('div_input').style.display='none';$('div_ontop').style.display='none';"><img src="../img2/close.png"></a>
</td></tr>
</table>

#if ( $signUpError )
<div id="errorMessage" class="errorMessage">
<p style="position:relative;text-align:right;margin:0px">
<a href="javascript:void()" onclick="$('errorMessage').style.display='none';"><img src="../img2/close.gif"></a>
</p>
<p style="margin-top:0px">
$signUpError
</p>
</div>
#end

<div class="login-container">
<div class="login">
	<p><input type="text" name="fullName" value="" placeholder="Your Full Name"></p>
  	<p><input type="text" name="login" value="" placeholder="Username or Email"></p>
  	<p><input type="password" name="password" value="" placeholder="Password"></p>
	<p><input type="password" name="confirmPassword" value="" placeholder="Confirm Password"></p>

  <p class="submit"><input id="login-button" type="button" value="Sign Up" onclick="doDivAjaxCall3$formname('div_input','signUp','')"></p>
</div>
</div>
##<script>new Draggable('div_input', {handle: 'dragHandle'});</script>