<div id="div_ontop"></div>

#if ( $invoice.id == "" )
	<div class="subTitle">Create New Invoice</div>
#end
#set ( $status = "" )
#set ( $disabled = "" )
#if ( $invoice.inReceiptVoucher )
	#set ( $disabled = "disabled" )
	#set ( $status = "complete" )
	<div class="form-status">Status: Completed</div>
#end

<table style="width:100%"><tr><td style="width:50%;padding:10px" valign="top">
##START
<table style="width:100%">
	<tr><td style="width:100px" align="right">Invoice No.</td><td style="width:10px">:</td><td><input $disabled class="form-control" name="invoiceNo" value="$!invoice.refNo" placeholder="&lt;&lt;Create New&gt;&gt;"></td></tr>

	<tr>
		<td align="right">D/O No</td><td>:</td><td><input $disabled class="form-control"  name="deliveryOrderNo" value="$!invoice.deliveryOrder.refNo"></td>
	</tr>
	
	<tr><td align="right">Term</td><td>:</td>
		<td>
		
        <select $disabled name="termId" class="form-control">
        	<option value=""></option>
        	#foreach( $t in $terms )
        		<option value="$t.id" #if ( $invoice && $t.id == $invoice.term.id ) selected #end>$t.name</option>
        	#end
        </select>
        
		</td>
	</tr>
	
	#**
	<tr><td align="right">Bank</td><td>:</td>
		<td>
		
        <select class="form-control" id="bankId" name="bankId" $disabled>
        	<option value=""></option>
        	#foreach( $b in $banks )
        		<option value="$b.id" #if ( $invoice && $b.id == $invoice.bank.id ) selected #end>$b.name</option>
        	#end
        </select>
        
		</td>
	</tr>
	**#
	#**
	<tr><td align="right">Control Account</td><td>:</td>
		<td>
		
            <select name="accountId" id="accountId" class="form-control" $disabled>
            	<option value=""></option>
            	#foreach( $a in $accounts )
					#if ( !$a.gotChild )
						<option value="$a.id" #if ( $invoice.account.id == $a.id ) selected #end>$a.number - $a.title</option>
					#end
            	#end
            </select>
		
		</td>
	</tr>
	**#
	
	<tr>
		<td align="right">Date</td><td>:</td><td><input $disabled class="form-control" style="width:100px" name="invoiceDate" id="invoiceDate" #if ( $date ) value="$df.format($date)" #end></td>
	</tr>
</table>
##END
</td><td style="width:50%" valign="top">
##START

<table style="width:100%">
	<tr><td style="width:100px" align="right">Customer</td><td style="width:10px">:</td><td><input $disabled class="form-control" value="$customer.name" readonly></td></tr>
	<tr><td valign="top" align="right">Address</td><td valign="top">:</td><td valign="top"><textarea $disabled class="form-control" style="height:70px" readonly>$address</textarea></td></tr>

	<tr><td style="width:100px" align="right">Attention</td><td style="width:10px">:</td><td><input $disabled class="form-control" value="$!customer.contactName" readonly></td></tr>
	<tr><td style="width:100px" align="right">Tel/Fax</td><td style="width:10px">:</td>
		<td>
			<input $disabled class="form-control" value="$!customer.telephone / $!customer.fax" readonly>
        </td>

	</tr>
</table>	
##END
</td></tr></table>
<br/>
<table style="width:100%" cellpadding="0" cellspacing="0">
	<tr style="background:#E8E3E3;height:30px">
		<td style="width:30px" align="center">#</td>
		<td style="width:150px" align="center">Item Code</td>
		<td style="" align="center">Description</td>
		<td style="width:100px" align="center">Quantity</td>
		<td style="width:100px" align="center">UOM</td>
		<td style="width:100px" align="center">Unit Price</td>
		<td style="width:100px" align="center">Sub Total</td>
		<td style="width:20px">&nbsp;</td>
	</tr>
</table>

#set ( $r = 0 )
#if ( $invoice )
	#foreach( $i in $invoice.items )
		#set ( $r = $r + 1 )
        <div id="quotItem_$r" >
            <table style="width:100%" cellpadding="0" cellspacing="0">
            	<tr>
            		<td style="width:30px;padding-top:5px;border-bottom:1px dotted #ccc" valign="top">
						$r.
						<input type="hidden" id="itemId_$r" name="itemId_$r" value="$!i.id">
						<input type="hidden" id="deliveryOrderItemId_$r" name="deliveryOrderItemId_$r" value="$!i.deliveryOrderItem.id">
					</td>
            		<td style="width:150px"  valign="top"><input $disabled name="code_$r" id="code_$r" value="$!i.code" class="textrow" style="width:150px" onfocus="selectItemNo($r)" #if ( $i.item ) readonly #end></td>
            		
            		<td style="" valign="top">
        				<div id="t2_$r" style="display:none;">
                            <textarea $disabled id="name2_$r" name="name2_$r" style="width:100%" onfocus="t2focus($r)" onblur="tblur($r)">$!i.remark</textarea>
        				</div>
        				
        				<div id="t_$r" style="display:block">
        					<input $disabled id="name_$r" name="name_$r" class="textrow" value="$!i.description" onfocus="tfocus($r)")>
        				</div>
        
        			</td>            		
					<td style="width:100px"  valign="top"><input $disabled name="quantity_$r" id="quantity_$r" value="$!i.quantity" onchange="calcSubTotal($r)" class="textrow" style="width:100px;text-align:center"></td>
            		<td style="width:100px"  valign="top"><input $disabled name="uom_$r" id="uom_$r" value="$!i.measurementUnit" class="textrow" style="width:100px;text-align:center" #if ( $i.item ) readonly #end></td>
            		<td style="width:100px"  valign="top"><input $disabled name="price_$r" id="price_$r" #if ( $i.unitPrice ) value="$nf.format($i.unitPrice)"  onchange="calcSubTotal($r)" #end class="textrow" style="width:100px;text-align:right" #if ( $i.item ) readonly #end></td>
            		<td style="width:100px"  valign="top"><input $disabled name="subTotal_$r" id="subTotal_$r" #if ( $i.subTotal ) readonly value="$nf.format($i.subTotal)" #end class="textrow" style="width:100px;text-align:right" readonly></td>
					<td style="width:20px;padding-top:5px;border-bottom:1px dotted #ccc;cursor:pointer" align="center" valign="top" #if ( $status == "" ) onclick="deleteConfirm($r) #end">#if ( $status == "" ) x #end</td>
				</tr>
            </table>
        </div>
		<div id="confirm_$r" class="confirmBox">
			<table style="width:100%"><tr><td align="center">
			Delete item row no. $r<br/>
			Are you sure?
			<a href="javascript:void(0)" onclick="deleteItem($r)">Yes</a> /
			<a href="javascript:void(0)" onclick="deleteItemCancel($r)">No</a>
			</td></tr></table>
		</div>
	#end
#end

#if ( $r == 0 ) #set ( $r = 1 ) #end
#foreach( $r in [$r..10])
<div id="quotItem_$r" style="display:none" >
    <table style="width:100%" cellpadding="0" cellspacing="0">
    	<tr>
    		<td style="width:30px;padding-top:5px;border-bottom:1px dotted #ccc" valign="top">
				$r.
			<input type="hidden" id="itemId_$r" name="itemId_$r" value="">
			<input type="hidden" id="quotationItemId_$r" name="quotationItemId_$r" value="">
				
			</td>
    		<td style="width:150px"  valign="top"><input name="code_$r" id="code_$r" class="textrow" style="width:150px" onfocus="selectItemNo($r)"></td>
    		<td style="" valign="top">
				<div id="t2_$r" style="display:none;">
                    <textarea id="name2_$r" name="name2_$r" style="width:100%" onfocus="t2focus($r)" onblur="tblur($r)"></textarea>
				</div>
				
				<div id="t_$r" style="display:block">
					<input id="name_$r" name="name_$r" class="textrow" onfocus="tfocus($r)")>
				</div>

			</td>
    		<td style="width:100px"  valign="top"><input name="quantity_$r" id="quantity_$r" onchange="calcSubTotal($r)" class="textrow" style="width:100px;text-align:center"></td>
    		<td style="width:100px"  valign="top"><input name="uom_$r" id="uom_$r" class="textrow" style="width:100px;text-align:center"></td>
    		<td style="width:100px"  valign="top"><input name="price_$r" id="price_$r" onchange="calcSubTotal($r)" class="textrow" style="width:100px;text-align:right"></td>
    		<td style="width:100px"  valign="top"><input name="subTotal_$r" id="subTotal_$r" readonly class="textrow" style="width:100px;text-align:right"></td>
			<td style="width:20px;padding-top:5px;;border-bottom:1px dotted #ccc;cursor:pointer" align="center" valign="top" onclick="deleteConfirm($r)">x</td>
		</tr>
    </table>
</div>

<div id="confirm_$r" class="confirmBox">
	<table style="width:100%"><tr><td align="center">
	Delete item row no. $r<br/>
	Are you sure?
	<a href="javascript:void(0)" onclick="deleteItem($r)">Yes</a> /
	<a href="javascript:void(0)" onclick="deleteItemCancel($r)">No</a>
	</td></tr></table>
</div>
		
#end
<br/>
<div>
<table align="right">
	<tr>
		<td style="width:120px"></td>
		<td style="width:50px">
			
		</td>
		<td style="width:150px" align="right">
			Total Price :
		</td>
		<td style="width:100px">
			<input class="form-control" style="text-align:right" readonly #if ( $invoice.totalPrice ) value="$nf.format($!invoice.totalPrice)" #end>
		</td>
	</tr>
	<tr>
		<td style="width:120px"></td>
		<td style="width:50px">
			
		</td>
		<td style="width:150px" align="right">
			Discount Amount :
		</td>
		<td style="width:100px">
			<input class="form-control" style="text-align:right" readonly #if ( $invoice.discountPrice ) value="$nf.format($!invoice.discountPrice)" #end>
		</td>
	</tr>	
	<tr>
		<td style="width:120px">Discount (%):</td>
		<td style="width:100px">
			<input $disabled class="form-control" style="text-align:right" name="discount" id="discount" value="$!invoice.discount">
		</td>
		<td style="width:150px" align="right">
			Net Price :
		</td>
		<td style="width:100px">
			<input class="form-control" style="text-align:right" readonly #if ( $invoice.netPrice ) value="$nf.format($!invoice.netPrice)" #end>
		</td>
	</tr>
</table>

<div id="confirmDelete" class="confirmBox">
	<table style="width:100%"><tr><td align="center">
	Delete this Invoice.<br/>
	Are you sure?
	<a href="javascript:void(0)" onclick="deleteInvoice('$!invoice.id')">Yes</a> /
	<a href="javascript:void(0)" onclick="deleteInvoiceCancel()">No</a>
	</td></tr></table>
</div>

</div>

#if ( $status == "" )
<div style="float:left">
	<a href="javascript:void(0)" class="round-button" onclick="addRow();">+</a>
</div>
#end

<br/><br/><br/><br/><br/><br/><br/>

#if ( $status == "" && $invoice.id != "" )
<div style="float:right">
	<a href="javascript:void(0)" class="btn btn-danger" onclick="confirmDelete('$!invoice.id')"><i class="fa fa-trash" aria-hidden="true"></i></a>
</div>
#end
#** 
<div style="float:right">
	<a href="javascript:void(0)" class="btn btn-primary" onclick="doDivAjaxCall$formname('formData','listInvoices','customerId=$!customer.id')">List</a>
</div>
**#
<div style="float:right;">
	&nbsp;&nbsp;&nbsp;
</div>

#if ( $status == "" )
<div style="float:right">
	<a href="javascript:void(0)" class="btn btn-success" onclick="doDivAjaxCall$formname('formData','save','customerId=$!customer.id&deliveryOrderId=$!deliveryOrder.id&invoiceId=$!invoice.id')">Save</a>
</div>
#end



<div id="listItems" class="shadow"></div>
<div id="calcSubTotal"></div>

<script>
resetRow();
#if ( $invoice )
	setRows($invoice.items.size());
#end
new datepickr('invoiceDate', {
	'dateFormat': 'd-m-Y'
});
</script>